
/* Styles for the image */
.photo1 {
  width: 360px;
  height: 540px;
  margin: auto;
  flex: 1;
}

/* Responsive styles for the image on smaller screens */
@media screen and (max-width: 600px) {
  .photo1 {
    width: 272px;
    height: 400px;
  }
}

/* Centering the biography text */
.biografia {
  text-align: center;
  margin-top: 20px;
}

/* Flex container with spacing and margins */
.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 55px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

/* Styles for the accordion */
.accordion {
  border: 1px solid #A1887F;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 3;
}

/* Styles for accordion items */
.accordion-item {
  border-bottom: 1px solid #A1887F;
}

/* Styles for accordion headers */
.accordion-header {
  width: 100%;
  background-color: #A1887F;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for accordion headers */
.accordion-header:hover {
  background-color: #D7CCC8;
}

/* Styles for accordion content */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}

/* Styles for paragraphs in accordion content */
.accordion-content p {
  margin: 15px 0;
}

/* Styles for the form container */
.form-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #A1887F;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

/* Responsive styles for the flex container on smaller screens */
@media screen and (max-width: 600px) {
  .flex {
    display: flex;
    flex-direction: column;
  }
}


.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}


.main {
  background-image: url(../img/photo_2024-12-07_21-27-48.jpg);
  background-size: cover;
}
