
  .courses-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .course {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .course:hover {
    transform: translateY(-10px);
  }
  
  .course h2 {
    color: #333;
  }
  
  .course h3 {
    color: #4CAF50;
  }
  
  .course h4 {
    color: #555;
  }
  
  .course ul {
    list-style-type: none;
    padding: 0;
  }
  
  .course ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
  }
  
  .testimonials-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .testimonials-container h2 {
    color: #333;
    text-align: center;
  }
  
  .testimonial {
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial p {
    margin: 5px 0;
    color: #555;
  }
  
  .testimonial p:last-child {
    font-style: italic;
    text-align: right;
  }
  
  
  .course ul {
    list-style-type: none;
    padding: 0;
  }
  
  .course ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
  }
  .proposition{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   
  }
  .testimonials-container{
    margin-right: 50px; 
    margin-left: 50px;
  }
  @media screen and (max-width: 600px){
    .course{
     width: 90%;
    }
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}