
/* Styles for the form container */
.form-container {
    width: 100%;
    margin: 0 auto; 
    margin-bottom: 2rem;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #A1887F; 
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8); 
    display: block; 
}

/* Styles for form labels */
label {
    font-weight: bold;
    color: #5D4037; 
}

/* Styles for text input fields, email input fields, and text areas */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 20px 0px;
    border: 1px solid #BCAAA4; 
    border-radius: 4px;
}

/* Styles for checkbox inputs */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Styles for submit buttons */
input[type="submit"] {
    background-color: #5D4037; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for submit buttons */
input[type="submit"]:hover {
    background-color: #3E2723; 
}

/* Styles for form layout */
.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}


.main {
    background-image: url(../img/photo_2024-12-07_21-27-48.jpg);
    background-size: cover;
}
